.previous {
  float:left;
  display:inline-block;
}
.next {
  float:right;
  display:inline-block;
}

#blog-home {
  h1 {
    text-align: center;
    display:block;
  }
}

.blogroll {
  width:100%;
  float:left;
  display:flex;
  flex-flow: row nowrap;
  justify-content:center;
  padding:30px;

  .__blogroll-img {
    width:25%;
    height:auto;
    overflow:hidden;
    float:left;

    img {
      width:100%;
      height:auto;
    }
  }
  .__blogroll-content {
    width:75%;
    float:left;
    display:block;
    padding-left:30px;

    h2 {
      padding:0 0 20px 0;
    }
    p {

    }
  }
}

.singleblogpost {
  position:relative;

  .blog-content {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index:100;

    .title {
      font-size:24px;
      display:block;
      width:100%;
      text-align:center;
      color:#fff;
    }
    .content {
      display:block;
      width:100%;
      color:#fff;
      text-align:center;
      padding:0 50px;
    }
    .button {
      text-align:center;

      a {
        display:inline-block;
        padding:5px 10px;
        background-color:$brand-green;
        margin:20px 0;
        color:#fff;
      }
    }
  }

  .featured-image {

    img {
      width:100%;
      height:100%;
      top: 0; left: 0; bottom: 0; right: 0;
      z-index:99;
    }
  }
}
